@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

/* -----NAVBAR-SECTION--- */
.navbar-section {
  background-color: #f85606;
  font-family: "Roboto", sans-serif;
}

.my-navbar .nav-list .nav-link-style {
  padding: 0 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 3px;
}

.my-navbar .nav-list .nav-link-style:hover {
  color: #EEBBA2;
}

.nav-header {
  padding: 0 81px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 74px;
  padding-top: 6px;
  padding-bottom: 33px;
}

.nav-logo {
  margin-top: 6px;
}

.mobile-display-qr-scan {
  display: none;
}

.nav-logo img {
  height: 40px;
}

.navbar-nav .nav-item:last-child a {
  padding-right: 0;
  margin-right: 0;
}

.header-left {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.form-bar {
  display: flex;
  width: 70%;
  position: relative;
  border-radius: 2px 0 0 2px;
  border: 0;
  margin: 2px 0;
}

.form-search-bar::placeholder {
  font-size: 14px;
  color: #888888;
}

.form-search-bar {
  display: block;
  width: 100%;
  padding: 10px 19px;
  border: none;
}

.btn-search-bar {
  background-color: #FFE1D2;
  border: 0;
  border-radius: 0 2px 2px 0;
  padding: 10px;
}

.form-search-bar:focus,
.form-search-bar:active {
  outline: none;
  box-shadow: none;
}

/* .mobile-display-camera-btn {
  position: absolute;
  padding: 4px 10px;
  left: 2px;
  top: 2px;
} */
.mobile-display-camera-btn:active {
  border: none;
}

.mobile-display-search-btn {
  background-color: #f85606;
  border-radius: 10px;
  margin: 2px;
  position: absolute;
  right: 2px;
  top: 1px;
  padding: 2px 15px;
  border: none;
}

.bottom-icons a:visited {
  background-color: #f85606;
  color: #FFFFFF;
}

.mobile-search-txt {
  font-size: 12px;
  color: #FFFFFF;
}

.mobile-display-qr-scan,
.mobile-display-search-btn,
.mobile-display-camera-btn {
  display: none;
}

.mobile-display-camera-btn {
  background-color: white;
  padding: 5px 10px;
}

.btn-cart {
  padding-bottom: 0;
  margin: 6px 0 0 4px;
  padding: 5px 5px 0 5px;
  background-color: transparent;
  border: none;
}

/* ----HERO-SECTION---- */
.hero {
  background-color: #E7E8EC;
}

.hero-content {
  display: flex;
  column-gap: 6px;
}

.hero-left {
  width: 83%;
}

/* ----OWL-CAROUSEL-NAV----- */
.hero-carousel,
.hero-carousel .owl-stage-outer,
.hero-carousel .owl-stage,
.hero-carousel .owl-item,
.hero-carousel .item,
.hero-carousel .item img {
  height: 100%;
  object-fit: cover;
}

/* .carousel .owl-prev {
  left: 0px;
}
.carousel .owl-next {
  right: 0px;
}
.carousel .owl-next span, .owl-prev span{
  background-color: rgba(196, 196, 196, 0.8); 
  padding: 4px 9px;
  color: #fff; 
  font-size: 1.25rem;
}
.carousel .owl-next span{
  border-radius: 15px 0 0 15px;
}
.carousel .owl-prev span{
  border-radius: 0px 15px 15px 0px;
}
.carousel .owl-prev, .owl-next {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  top: 47%;
}
.carousel .owl-prev:hover, .owl-next:hover {
  background-color: #C4C4C4;
} */
/* ----OWL-CAROUSEL-DOTS---- */
.hero-carousel .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-carousel .owl-dots .owl-dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-color: #C4C4C4;
  border-radius: 50%;
}

.hero-carousel .owl-dot.active {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
}

.hero-right {
  width: 17%;
}

.download-app-card {
  font-family: "Noto Sans", sans-serif;
  padding: 6px;
  background-color: #FFFFFF;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0)), linear-gradient(179.27deg, #ffedd6 .83%, #ffc3e3 46.78%, #fff 99.57%), linear-gradient(0deg, #fff, #fff);
}

.download-paths {
  margin: 0 6px;
}

.card-top {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  padding-left: 9px;
}

.card-mid-content {
  position: relative;
  background-image: url(../img/download-card-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  padding: 3px 0 10px 0;
}

.btn-apple {
  margin-bottom: 10px;
}

.icon-box {
  width: 24px;
}

.box-top-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #6c1d00;
  margin-bottom: 0;
  margin-left: 15px;
}

.rating {
  display: flex;
  align-items: center;
  padding: 6px 0 0 8px;
  column-gap: 2px;
}

.rating img {
  height: 9px;
}

.rating-txt {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.download-card-txt p {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 6px;
}

.txt-d {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #2e3346;
  margin-bottom: 5px;
}

.download-folder-mid {
  padding: 0 33px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  column-gap: 9px;
}

.img-d img {
  width: 36px;
}

.features-txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.qr-img {
  margin: 8px 0;
}

.qr-img img {
  width: 90px;
}

.btn-1 img {
  width: 83px;
}

/* ----PRODUCTS-SECTION---- */
.products-card-section {
  background-color: #F5F5F5;
}

.card-top-title {
  color: rgb(66, 66, 66);
  font-size: 22px;
  font-weight: 400;
  padding-top: 24px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.product-card:hover,
.card-categories:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
}

.product-card-body {
  padding: 4px 8px 5px 8px;
}

.product-top {
  background-color: #FFFFFF;
}

.products-wrapper {
  padding-bottom: 15px;
}

.product-card-title {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin-bottom: 4px;
}

.product-card-text {
  color: #f57224;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

.header-txt p {
  color: #f57224;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.products-s-header {
  padding: 13px 11px 13px 20px;
}

.btn-shop {
  background-color: transparent;
  border: 1px solid #f57224;
  border-radius: 2px;
  color: #f57224;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  padding: 0 12px;
}

.original-price-txt {
  text-decoration: line-through;
  color: #9e9e9e;
}

.txt-c {
  font-size: 12px;
  line-height: 12px;
}

.discount-txt {
  color: #000000;
  margin-left: 4px;
}

/* ----CATEGORIES-SECTION--- */
.card-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.card-txt {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #212121;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin: 8px 12px 30px 12px;
}

.load-more-btn-container {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 10px;
}

.btn-load-more {
  background-color: transparent;
  border: 1px solid #1a9cb8;
  border-radius: 0;
  color: #1a9cb8;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  padding: 10px 154px;
}

/* ----PSEUDO-FOOTERS---- */
.daraz-box-img {
  height: 42px;
}

.footer-links-ul li a {
  font-family: 'Public Sans';
  color: #0f136d;
  font-weight: 200;
  line-height: 17px;
  font-size: 12px;
}

.pay-icons-img ul li img {
  width: 48px;
}

.footer-right {
  margin-top: 25px;
  column-gap: 35px;
}

.footer-li {
  width: 48px;
  height: 28px;
}

.footer-li .sprite-img {
  zoom: .338;
}

.sprite-img.payment-method-icon-1 {
  background-position: -98px -682px;
}

.sprite-img.payment-method-icon-2 {
  background-position: -267px -682px;
}

.sprite-img.payment-method-icon-3 {
  background-position: -436px -682px;
}

.sprite-img.payment-method-icon-4 {
  background-position: -605px -682px;
}

.sprite-img.payment-method-icon-5 {
  background-position: -774px -682px;
}

.sprite-img.payment-method-icon-6 {
  background-position: -943px -682px;
}

.sprite-img.payment-method-icon-7 {
  background-position: -940px -682px;
}

.sprite-img.payment-method-icon-8 {
  background-position: -1470px -805px;
}

.sprite-img.payment-method-icon-9 {
  background-position: -268px -805px;
}

.footer-links-ul li a {
  color: #0f136d;
  font-size: 12px;
  font-weight: 200;
}

.footer-links-ul li {
  line-height: 17px;
}

.footer-links-ul li a:hover {
  text-decoration: underline;
}

.footer-links h5 {
  color: #0f136d;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 0;
}

.download-app-t {
  column-gap: 15px;
}

.download-txt h4 {
  color: #f36f36;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

.download-txt p {
  color: #0f136d;
  font-size: 14px;
  font-weight: 300;
}

.download-paths-icons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.app-sticker-links {
  width: 126px;
  height: 42px;
}

.sprite-img-2 {
  background: url(../img/sprite-img-2.png);
  width: 100%;
  display: block;
  height: 100%;
}

.sprite-img-2.app-sticker-1 {
  background-position: -190px -124px;
}

.sprite-img-2.app-sticker-2 {
  background-position: -568px -374px;
}

.app-sticker-3 {
  background-image: url(../img/app-stiker.jpg);
  width: 100%;
  height: 100%;
  display: block;
}

.pay-icons h3 {
  color: #183544;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2em;
  margin-bottom: 15px;
}

.pay-icons-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.payment-right-txt {
  margin-top: 15px;
}

.payment-right-logo {
  width: 73px;
  height: 41px;
}

.sprite-img {
  background: url(../img/sprite-img-daraz.png);
  width: 100%;
  height: 100%;
  display: block;
}

.logo-sprite-img {
  zoom: .33;
  background-position: -1379px -422px
}

.footer-first,
.footer-second {
  padding-top: 20px;
  padding-bottom: 25px;
}

/* ------FOOTER-ONE-------- */
.footer-third {
  background-color: #F4F4F6;
  padding: 60px 0 40px 0;
}

.footer-c-last h6 {
  margin-top: 15px;
}

.footer-details-txt {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.footer-about h3,
.footer-categories-about h3 {
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 14px;
}

.footer-about h6 {
  font-weight: 600;
  color: #606060;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
}

.footer-about p {
  color: #888888;
  font-size: 12px;
  font-weight: 200;
  line-height: 14px;
  margin-bottom: 5px;
}

.footer-categories-about h6 {
  font-size: 11px;
  line-height: 15px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 2px;
}

.categories-links a {
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 200;
}

.c-list {
  display: flex;
  flex-wrap: wrap;
}

.c-list li {
  line-height: 15px;
}

.categories-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -----FOOTER-TWO----- */
.footer-fourth {
  padding: 40px 0;
}

.footer-title {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 5px 0;
}

.title-f {
  margin-bottom: 10px;
}

.flags-icons {
  display: flex;
  flex-direction: column;
}

.icon-links {
  display: flex;
  column-gap: 7px;
  align-items: center;
}

.footer-flags {
  width: 28px;
  height: 28px;
}

.footer-flags .sprite-img {
  zoom: .332;
}

.sprite-img.flag-icon-1 {
  background-position: -180px -96px;
}

.sprite-img.flag-icon-2 {
  background-position: -513px -96px;
}

.sprite-img.flag-icon-3 {
  background-position: -402px -96px;
}

.sprite-img.flag-icon-4 {
  background-position: -291px -96px;
}

.sprite-img.flag-icon-5 {
  background-position: -69px -96px;
}

.icon-links:hover {
  text-decoration: underline;
}

.icons-ul {
  display: flex;
  column-gap: 15px;
}

.icon-links-f {
  height: 28px;
  width: 28px;
  display: block;
}

.icon-links-f .sprite-img {
  zoom: .39;
}

.sprite-img.social-link-icon-1 {
  background-position: -630px -102px;
}

.sprite-img.social-link-icon-2 {
  background-position: -740px -102px;
}

.sprite-img.social-link-icon-3 {
  background-position: -847px -101px;
}

.sprite-img.social-link-icon-4 {
  background-position: -957px -101px;
}

.sprite-img.social-link-icon-5 {
  background-position: -1063px -95px;
}

.icon-links p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
  color: #888888;
  margin-bottom: 0;
}

.copyright-txt p {
  color: #606060;
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 0;
}

.icon-links-f {
  margin-right: 17px;
}

.follow-us-links .footer-title {
  margin-bottom: 3px;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.footer-btns h6 {
  font-size: 12px;
  color: #9e9e9e;
}

.mobile-fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.3);
  display: none;
}

.message-popup {
  position: fixed;
  bottom: 0;
  right: 50px;
  z-index: 1000;
}

.popup-btn{
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 2px 4px 0;
  color: #003e52;
  cursor: pointer;
  background-color: #FFFFFF;
  column-gap: 8px;
  padding: 9px 38px 9px 14px;
}

.popup-btn:hover {
  color: #003e52;
  background-color: #FFFFFF;
}

.popup-btn p {
  text-align: center;
  font-size: 18px;
  color: #044254;
  margin-bottom: 0;
}
.message-box-container{
  width: 90vw;
  max-width: 740px;
  height: 78vh;
  display: flex;
  background-color: #ffffff;
}
.message-box-visibility{
  display: none;
}
.message-box-header-txt h3{
 font-size: 18px;
 line-height: 20px;
 font-weight: 400;
 color: #757575;
 margin-bottom: 0;
}
.message-box-header-txt{
padding: 10px 21px;
align-items: center;
display: flex;
column-gap: 8px;
border-bottom: 1px solid #e6e7eb;
}
.message-box-left{
  width: 37%;
  display: flex;
  flex-direction: column;
}
.message-box-right{
  width: 63%;
  border-left: 1px solid #e6e7eb;;
}
.bottom-right{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bottom-right-top{
  background-color: #f9f9f9;
  padding: 126px 91px 0;
}
.text-box{
  margin-top: 38px;
}
.text-box a{
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #00b5e0;
  text-decoration: underline;
}
.text-box p{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #757575;
}
.login-signup-btn{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #4c8296;
}
.bottom-blank{
  height: 100%;
  background-color: #eff0f5;
}
.side-fixedbar {
  position: fixed;
  bottom: 40px;
  left: -300px;
  transition: left 0.3s ease;
}
.visible {
  left: 0;
}
.fixed-bar-icons {
  display: flex;
  flex-direction: column;
}

.icon-sidebar {
  background-color: #f5f5f5;
  border: 1px solid #fff;
  cursor: pointer;
  padding:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  position: relative;
}
.floating-box{
  background:#f5f5f5 ;
  position: absolute;
  width: 200px;
  padding: 2px 30px;
  border: 1px solid white;
  bottom: -1px;
  transform: translateX(-220px);
  transition: transform .3s ease-in-out;
  z-index: -1;
}
.side-icon{
  color: rgb(153, 153, 153);
}
.icon-sidebar:first-child:hover{
  border: 1px solid #ffffff;
}
.icon-sidebar:hover{
  border-right: none;
}
.icon-sidebar:hover .side-icon{
  color: #f85606;
}
.icon-sidebar:hover .floating-box  {
  transform: translateX(30px);
  border-left: none;
}
.floating-box-txt {
  font-size: 12px;
  line-height: 36px;
  font-weight: 400;
  color: #f85606;
}